
@charset "UTF-8";
/*****************************
ハンバーガーメニュー
*****************************/
.mobile_foot_band {
    display: none;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #8F758E;
    z-index: 100;
  }
  @media screen and (max-width: 768px){
   .mobile_foot_band { display: block; } }
  .mobile_menu_btn {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
  }
  .ham_line {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 1px;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .ham_line1 {
    top: 10px;
  }
  .ham_line2 {
    top: 18px;
  }
  .ham_line3 {
    top: 26px;
  }
  .clicked .ham_line1 { -webkit-transform: rotate(405deg); -ms-transform: rotate(405deg); transform: rotate(405deg); top: 20px; }
  .clicked .ham_line2 { width: 0px; }
  .clicked .ham_line3 { -webkit-transform: rotate(-405deg); -ms-transform: rotate(-405deg); transform: rotate(-405deg); top: 20px; }
  #modal_overlay {
    display: none ;
    position: fixed ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 120% ;
    background-color: rgba(0, 0, 0, .75);
  }
  #modal_overlay.modal_overlay {
    display: block;
    z-index: 20;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .contents_hide {
    position: relative;
    z-index: 10;
  }
  .mobile_menu {
    position: fixed;
    opacity: 0;
    top: 60px;
    bottom: 0px;
    left: 10px;
    right: 10px;
    -webkit-transition: .7s;
    transition: .7s;
    width: 94%;
    padding: 20px;
    margin: 10px auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: -1;
  }
  .contents_show {
    position: fixed;
    opacity: 1;
    top: 10px;
    bottom: 50px;
    left: 10px;
    right: 10px;
    z-index: 1000;
  }
  .mobile_menu_class {
    font-size: 1.6rem
  }
  .mobile_menu_class li { margin-bottom: 10px; }
  .mobile_menu_class li:before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: '\f0da'; padding-right: 1em; }
  .mobile_menu_class a { color: #000; text-decoration: none; }