@charset "UTF-8";
.contents {
    max-width: 120rem;
    width: calc(100% - 4rem);
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    .main {
        width: calc(120rem - 356px);
        padding: 10px 0;
        line-height: 1.8;
    }
    .sidebar{
        width: 356px;
        padding: 10px;
        font-size: 1.8rem;
        
        .side_widget {
            list-style: none;
            h3 {
                padding: 15px 1em;
                font-size: 1.8rem;
                background-color: $purple;
                color: $colorWhite;
            }
            .widget-container{ 
            
                ul {
                    padding: 15px 2em;
                    line-height: 1.5;
                    a{
                        color: $colorBlack;
                        &:hover{
                            color: $purple;
                        }
                    }
                    
                }
                form{
                    padding: 15px 1em;
                    line-height: 1.5;
                    select{
                        padding: 5px;
                    }
                    input[type="text"]{
                        line-height: 2;
                    }
                    input[type="submit"]{
                        padding: 5px;
                    }
                }
            }
        }

    }
    .sidebar.is-fixed{
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    @include wide{
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        .main {
            width: 100%;
            margin: 0 auto;
        }
        .sidebar{
            width: 100%;
            margin: 0 auto;
            
        }
    }

}//end of ".contents"

// .inner {
//     max-width: 100rem;
//     width: calc(100% - 4rem);
//     margin: 0 auto;
//     padding: 30px 0;
// }



.flex_single_contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* width: 1236px; */
  margin: 10px auto 0;
}
@include wide{
 .flex_single_contents { width: 100%; } }



