@charset "UTF-8";
/*****************************
フッター
*****************************/
footer {
    line-height: 3;
    -webkit-box-shadow: 1px -2px 4px rgba(0, 0, 0, .1);
            box-shadow: 1px -2px 4px rgba(0, 0, 0, .1);
  }
  @media screen and (max-width: 768px){
   footer { padding-bottom: 50px; } }
  footer .wrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  footer .widget-area { width: 33%; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; padding: 5px 2rem; }
  @media screen and (max-width: 768px){
   footer .widget-area { width: 100%; } }
  footer .widget-area ul { list-style: none; }
  footer .copyright { text-align: center; width: 100%; }
  footer .copyright a { text-decoration: none; color: #242439; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
  footer .copyright a:hover { color: #2BB24C; }
  @media screen and (max-width: 1240px){
   .nagare_footer_menu { display: none; } }
  .nagare_footer_menu ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .nagare_footer_menu ul li a { text-decoration: none!important; margin-right: 1em; color: #242439!important; }
  .nagare_footer_menu ul li a:hover { color: #8F758E!important; }