@charset "UTF-8";
/*****************************
フッター
*****************************/
footer {
    @include gradientDown;
    @include narrow{
        padding-bottom: 50px;
    }
    .wrap{
        width: 120rem;
        margin: 0 auto;
        padding: 5px 15px;
        display: -webkit-box; 
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        @include wide{
            width: 100%;
        }
        .copyright{
            text-align: center;
            width: 100%;
            a{
                color: $colorBlack;
                &:hover{
                    color: $green;
                }
            }
        }
    }
    .widget-area{
        width: 33%;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 5px 2rem;
        @include narrow{
            width: 100%;
        }

    }
}

.nagare_footer_menu {
    @include wide{
        display: none;
    }
    ul{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        a{
            margin-right: 1em;
            color: #242439!important;
            &:hover{
                color: #8F758E!important;
            }
        }
    }
}