@charset "UTF-8";
header {
    @include gradientDown;
    position: relative;
    z-index: 200;
    .site_title{
        margin-right: auto;
        @include narrow{
            width: 100%; 
        }
        a{
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
    #logo{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 70px;/*headerの高さはここで調整*/
    }
    ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /*padding: 2rem 0;*/
        @include narrow{
            width: 100%;
            padding-bottom: 0; 
        }
        li{
            @include narrow{
                width: 100%;
                text-align: right;
                padding: .5rem 0;
            }
        }
        a { 
            padding: 0 10px;
            
        }
    }
    nav{
        @include narrow{
            display: none;
        }
    }
    .wrap{
        @include narrow{
            padding: 5px 15px;
        }
    }
    @include wide{
        padding: 10px;
    }
}//end of "header"


